<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
<%= simple_form_for @word do |f| %>
  <%= f.input :letters, :label => "Word" %>
  <%= f.input :pic, :label => "Picture URL" %>
  <%= f.input :spelling_bee, :label => "Spelling Bee Word?" %>
  <%= f.association :week, :label => "Choose week if a weekly word.", collection: Week.order(:start_date), prompt: "Choose a Week", label_method: :start_date, value_method: :id, include_blank: false  %>
  <%= f.button :submit, class: "btn black"  %>
<% end %>
</div>
</div>
