<div class="article">
  <h1><%= @word.letters %></h1>

  <div class="show-image">
    <%= image_tag @word.pic %>
  </div>
<br>
<% if @word.spelling_bee? %>
  <%= link_to "Back to Spelling Bee List", spellingbee_path %>
<% end %>
<% if user_signed_in? %>
<br><br>
  <%= link_to 'Edit', edit_word_path(@word) %> |
  <%= link_to 'Back', words_path %> |
  <%= link_to "Delete", word_path(@word),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
                <% end %>
</div>
