


<div class="container">
  <br>
  <h1>Add a New Words to the Spelling Bee List</h1>


  <%= render 'spellingbeeform', words: @word %>


  <br>

  <h2>Or, upload words with a .csv file.</h2>
   <%= form_tag import_words_path, multipart: true do %>
      <%= file_field_tag :file %>
      <br>
      <%= submit_tag "Import CSV", class: "btn btn-info" %>
    <% end %>
  <br>
<hr>
<h1>The Spelling Bee - <%= @spellingbeewords.count %> Words</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Word</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
      <% @spellingbeewords.each do |word| %>
      <tr>
        <td><%= link_to word.letters, word_path(word) %></td>
        <td><%= image_tag word.pic, class: "table_pic img-responsive img-thumbnail" %></td>
        <td><%= link_to "Edit", edit_word_path(word), class: "btn btn-info" %>
            <%= link_to "Delete", word_path(word), class: "btn btn-danger",
                      method: :delete,
                      data: { confirm: 'Are you sure?' }  %></td>
      </tr>
      <% end %>
    </thead>
  </table>
  <br>
</div>
