


<div class="container">
  <h2>The Spelling Bee Words</h2>

  <br>
  <h1>Add a New Words to the Spelling Bee List</h1>

  <%= render 'spellingbeeform', word: @word %>


  <br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Word</th>
        <th colspan="2">Action</th>
      </tr>
      <% @spellingbeewords.each do |word| %>
      <tr>
        <td><%= link_to word.letters, word_path(word) %></td>
        <td><%= link_to "Edit", edit_word_path(word), class: "btn btn-outline-danger" %></td>
        <td><%= link_to "Delete", word_path(word), class: "btn btn-outline-danger",
                      method: :delete,
                      data: { confirm: 'Are you sure?' }  %></td>
      </tr>
      <% end %>
    </thead>
  </table>
  <br>
  <%= link_to "Add Bee Words", newbee_path, class: "btn btn-outline-danger" %>
</div>
