
<div class="container">
  <% Week.all.each do |week| %>
    <h2>Week of <%= week.start_date.strftime('%m/%d/%Y') %></h2>
    <table class="table table-bordered">
          <tr>
            <th>Pic</th>
            <th>Word</th>
            <th colspan="2">Action</th>
          </tr>
        <% week.words.each do |word| %>
          <tr>
            <td><%= image_tag word.pic, class: "table_pic img-responsive img-thumbnail" %></td>
            <td><%= link_to word.letters, word_path(word) %></td>
            <% if user_signed_in? %>
              <td><%= link_to "Edit", edit_word_path(word), class: "btn btn-info" %></td>
              <td><%= link_to "Delete", word_path(word), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }  %></td>
            <% end %>
          </tr>
        <% end %>
    </table>
  <% end %>

  <br>
  <% if user_signed_in? %>
  <%= link_to "Add Words", new_word_path, class: "btn btn-info" %>
  <% end %>
</div>
