<!DOCTYPE html>
<html>
  <head>
    <title>iSpellWords</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', "data-turbolinks-eval" => false %>
    <%= javascript_include_tag 'https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  </head>




      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <i class="material-icons">sort_by_alpha</i> -->

            <%= link_to '<span class="glyphicon glyphicon-education" aria-hidden="true"></span> | iSpellWords'.html_safe, root_path, class: "navbar-brand" %>
            <!-- <a class="navbar-brand" href="#">Brand</a> -->
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Spelling Bee <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "All Spelling Bee Words", spellingbee_path %></li>
                  <li><%= link_to "6 Random Spelling Bee Words", randombee_path %></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Weekly Words <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "All Weekly Words", wordlist_path %></li>
                  <li role="separator" class="divider"></li>
                  <% Week.all.each do |week| %>
                    <li><%= link_to week.start_date.strftime('%B %d, %Y'), root_path %></li>
                  <% end %>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Create a New Word", new_word_path %></li>
                  <li><%= link_to "Add to Spelling Bee Words", spellingbee_path %></li>
                  <li><%= link_to "Create a New Week for Weekly Words", new_week_path %></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

  <div class="container">


<!-- <nav>
  <div class="navbar">
    <%= link_to '<i class="material-icons">sort_by_alpha</i>| iSpellWords'.html_safe, root_path, class: "brand-logo" %>
    <a href="#" data-activates="mobile-demo" class="right button-collapse"><i class="material-icons">more_vert</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#"><i class="material-icons">search</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">view_module</i></a></li>
        <ul id='dropdown1' class='dropdown-content'>
          <li><%= link_to "All Words", wordlist_path %></li>
          <li><%= link_to "Add New Words", new_word_path %></li>
          <li class="divider"></li>
          <li><h5>Weeks</h5></li>
          <% Week.all.each do |week| %>
            <li><%= link_to week.start_date, root_path %></li>
          <% end %>
        </ul>
    </ul>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="#"><i class="material-icons">search</i></a></li>
        <li><%= link_to "All Words", wordlist_path %></li>
        <li><%= link_to "Add New Words", new_word_path %></li>
      </ul>
  </div>
</nav> -->
  <body>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
